/* Navbar */
#sidenav {
	height: 500px;
	background-color: lightgrey;
	margin-top: 1em;
	margin-right: -1em;
	padding: 1em 0;
}

nav h2 {
	text-align: center;
}

nav img {
	display: block;
	width: 75%;
	height: 75%;
	margin-left: auto;
	margin-right: auto;
}

nav ul {
	padding: 1em;
}

nav li {
	list-style: none;
}

/*About Us Styles */
.jumbotron {
    border-radius: 0px;
	margin-top: 14px;
	margin-bottom:6px;
	margin-left: 16px;
	margin-right: auto;
}

.aboutLogo {
    float: right;
    min-width: 100px;
    max-width: 150px;
    margin-right: 3em;
  }
  
.comments {
    margin: 1em 3em 1em 3em;
}