/* Navbar */
#sidenav {
	height: 500px;
	background-color: lightgrey;
	margin-top: 14px;
	margin-right: -1px;
	padding: 1px 0;
}

nav h2 {
	text-align: center;
}

nav img {
	display: block;
	width: 75%;
	height: 75%;
	margin-left: auto;
	margin-right: auto;
}

nav ul {
	padding: 1px;
}

nav li {
	list-style: none;
	color: black;
}

nav a {
	color: black;
}


/* Body Styles */


.page-container {
    margin: 1em 0 1em 0;
    padding: 0 1px 1px 1px;
  }
  
.post-box {
	margin: 1px 0 1px 0;
    padding: 0 1px;
  }
  
  .post {
    padding: 14px;
    background: lightgrey;
	text-align: center;
  }
  
  .blog-text {
	text-align: left;
  }
  
  /* Classes */
  .top-bottom-border {
    border-top: solid 1px black;
    border-bottom: solid 1px black;
	text-align: left;
  }
  
  .bottom-border {
    border-bottom: solid 1px black;
  }
  
  .extend {
    margin: 0 -1em 5px -1em;
    padding: 5px 1em 5px 1em;
  }
  
  .center {
    text-align: center;
  }

/*About Us Styles */
.jumbotron {
	background: lightgrey;
    border-radius: 0px;
	margin-top: 14px;
	margin-bottom:6px;
}

#about {
    padding: 1em 3em 1em 3em;
  }

.aboutLogo {
    float: right;
    min-width: 100px;
    max-width: 150px;
    margin-right: 3px;
  }
  
#comments {
	text-indent: 5px;
    margin: 1em 3em 1em 3em;
}